* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend Deca;
}

.main-container {
    height: 100vh;
    background-color: red;

}

.left-container {
    height: 100%;
    width: 60%;
    background-color: rgb(182, 137, 78);
    padding: 0px;
}

.homepage-image {
    height: 100%;
    width: 100%;

}

.right-container {
    height: 100%;
    width: 40%;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
}

.right-container-inner {
    height: 80%;
    width: auto;
    margin: 0px;
    padding: 0px;
}

.right-container-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin: 0px;
}

.right-container-main {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.right-container-gallery {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 0px;
}

.heading-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(90deg, #C0C8CC 0%, #95c8de 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.horizontal-line{
    position: relative;
    bottom: 10px;
    left: 335px;
    width: 150px;
    border: 1px solid #048EB5;
    opacity: 50;
}

.line-circle{
    /* height: 50px; */
    background-color: #048EB5;
    position: relative;
    bottom: 19px;
    left: 333px;
    width: 1px;
    border: 1px solid #048EB5;
    border-radius: 50%;
}

.heading-punch-line {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgba(114, 114, 115, 1)
}


.all-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.button {
    height: 50px;
    width: 250px;
    font-size: 20px;
    border-radius: 50px;
}

.camera-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.right-container-main{
    display: flex;
    gap: 20px;
}

.right-container-camera-btn {
    color: rgb(226, 238, 241);
    background: linear-gradient(90deg, #1BB0CE 0%, #0088B1 100%);
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 50px;
    gap: 15px;
}

.right-container-screen-recording-btn {
    color: rgb(226, 238, 241);
    background: linear-gradient(90deg, #1BB0CE 0%, #0088B1 100%);
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 30px;
    gap: 15px;
}
.right-container-gallery-btn {
    height: 50px;
    width: 250px;
    color: #0088B1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 2px solid #0088B1;
}