* {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif;
}

/*********** Loading Icon *********/
html,
body {
    padding: 0;
    margin: 0;
    position: relative;
    background: url("https://images.unsplash.com/photo-1569973560851-8c4563f4c3c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center center;
    background-size: cover;
    height: 100vh;
    font-family: "Raleway", sans-serif;
    overflow-y: hidden;
}


/* PRELOADER CSS */
.page-loader {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #272727;
    z-index: 1000;

}

.page-loader .txt {
    color: #666;
    text-align: center;
    top: 40%;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: bold;
    line-height: 1.5;
}

/* SPINNER ANIMATION */
.spinner {
    position: relative;
    top: 35%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: #fff;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/**************** MAIN CONTAINER ******************/

.main-container {
    height: 100vh;
    background-color: #181819;
    color: #BEC7CC;
}

.header-container {
    /* background-color: #181819; */
    height: 4%;
}

.inner-top-container {
    height: 100%;
}

.gallery-container-back-btn {
    height: 100%;
    width: 3%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.back-button-icon {
    color: #8e8e93;
    cursor: pointer;
}

.gallery-heading {
    font-size: 18px;
    color: rgba(189, 199, 204, 1);
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0px;
    padding: 0px;
}

.gallery-container {
    height: 77%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
}

.media-container {
    /* background-color: rgb(29, 27, 27); */
    width: 300px;
    height: 300px;
    border: 1px solid #4d4141;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.top-buttons {
    /* width: 100%; */
    height: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 15px 15px 0px 15px; */
}

.top-left-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #7e7d81;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.cross {
    border-radius: 3px;
    height: 20px;
    width: 20px;
    background-color: #3f3f42;
    padding: 4px;
    cursor: pointer;
}

.download-button {
    border-radius: 3px;
    height: 20px;
    width: 20px;
    background-color: #3f3f42;
    padding: 4px;
    cursor: pointer;
}

.image {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.screen {
    height: 58%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-button {
    width: 100%;
    height: 13%;
    background-color: rgb(18, 18, 17);
    color: #5F5D64;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
}

.media-name {
    color: #5F5D64;
    font-size: 18px;
}

.edit-button {
    padding-left: 50px;
    font-size: 20px;
    cursor: pointer;
}

/********************* TOOLS CONTAINER ***************/

.gallery-data-info {
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    /* gap: 30px; */
    font-size: 13px;

}

.data-info-header {
    display: flex;
    gap: 10px;
    font-size: 28px;
}

.tools-container {
    height: 18%;
    width: 100%;
    color: #BEC7CC;
}

.tools-inner-container {
    height: 100%;
    /* background-color: #181819; */
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px;
    gap: 20px;
    padding-right: 30px;
    padding-left: 5px;
    /* border: 1px solid; */
    font-size: 30px;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 50px;
}
.search-here {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 42px;
    width: 450px;
    background-color: #1E1E1F;
    border-radius: 50px;
}
.camera-icon {
    font-size: 25px;
}

.searchIcon {
    background-color:#1E1E1F;
    color: #BEC7CC;
    border: none;
    font-size: 20px;
}
.solid {
    height: 14px;
    border: 1px solid #bbb;
  }
.searchInput {
    height: 38px;
    width: 350px;
    background-color: #1E1E1F;
    border: none;
    font-size: 17px;
    color: #BEC7CC;
    outline: none;
    cursor: pointer;
}

.sort-icon {
    background-color: #181819;
    color: #BEC7CC;
    border: none;
    font-size: 35px;
}

.filter-icon {
    background-color: #181819;
    color: #BEC7CC;
    border: none;
    font-size: 30px;
}
.dropdown-toggle{
    background-color: #181819;
    border: none;
    font-size: 20px;
}
.dropdown-menu {
    margin: 5px !important;
    background-color: #181819;
    color: #BEC7CC;
}

.dropdown-menu>* {
    display: flex;
    align-items: center;
    /* padding: 5px; */
    margin: 0px;
    color: #BEC7CC;
}
.filter-btn-group{
    background-color: #1E1E1F;
}
.sort-btn-group{
    background-color: #1E1E1F;
}
.dropdown-item {
    color: #EBF3F7;
    height: 35px;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px;
}
.dropdown-item.active{
    background-color: #038DB4;
}
.dropdown-item:hover{
    cursor: pointer;
    background-color: #181819;
    color: #BEC7CC;
}
.dropdown-divider{
    width: 100%;
    height: 3px;
    background-color: #302F2F;
}
.header-main-checkbox {
    height: 30px;
    width: 100%;
}
.delete-icon:hover{
    background-color: #565e64;
}
.delete-icon {
    background-color: #181819;
    color: #BEC7CC;
    border: none;
    font-size: 22px;
    height: 42px;
    padding: 5px;
    border-radius: 5px;
}

.delete-all-data {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #BEC7CC;
}