* {
    margin: 0;
    padding: 0;
    font-family: "Tilt Neon", sans-serif;
}

/*********** Loading Icon *********/
html,
body {
	padding: 0;
	margin: 0;
	position: relative;
	background: url("https://images.unsplash.com/photo-1569973560851-8c4563f4c3c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
		no-repeat center center;
	background-size: cover;
	height: 100vh;
	font-family: "Raleway", sans-serif;
	overflow-y: hidden;
}


/* PRELOADER CSS */
.page-loader{
	width: 100%;
	height: 100vh;
	position: absolute;
	background: #272727;
	z-index: 1000;
	
}
.page-loader .txt{
    color: #666;
    text-align: center;
    top: 40%;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: bold;
    line-height: 1.5;
}
/* SPINNER ANIMATION */
.spinner {
	position: relative;
	top: 35%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

/**************** MAIN CONTAINER ******************/

.main-container {
    height: 100vh;
    background-color: red;
}

.header-container {
    background-color: rgb(0, 0, 0);
    height: 10%;
}

.inner-top-container {
    color: wheat;
    background-color: rgb(0, 0, 0);
    height: 100%;
}

.gallery-container-back-btn {
    border: none;
    color: wheat;
    background-color: rgb(0, 0, 0);
    width: 40px;
    font-size: 30px;
}

.gallery-heading {
    font-size: 25px;
}

.gallery-container {
    background-color: rgb(66, 84, 84);
    height: 82%;
    display: flex;
    gap: 90px;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    padding: 50px;
}

.media-container {
    background-color: rgb(232, 225, 225);
    width: 450px;
    height: 450px;
    border: 1px solid #e2dddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.top-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 15px 0px 15px;
    /* height: 0%; */
}

.top-left-buttons {
    color: #5F5D64;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 18px;
}

.image-checkbox{
    /* color: #5F5D64; */
    width: 100%;
    height: 100%;
    background-color: yellow;
}

.download-button {
    font-size: 25px;
    cursor: pointer;
}

.cross {
    font-size: 25px;
    cursor: pointer;
}
.image-checkbox{
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.image {
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video {
    height: 320px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.screen {
    height: 320px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-button {
    width: 350px;
    height: 70px;
    color: #5F5D64;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
    gap: 30px;
    overflow: hidden;
}

.media-name {
    color: #5F5D64;
    font-size: 18px;
}

.edit-button {
    padding-left: 50px;
    font-size: 20px;
    cursor: pointer;
}

/********************* TOOLS CONTAINER ***************/

.tools-container {
    height: 8%;
    width: 100%;
    padding: 0px;
}

.tools-inner-container {
    height: 100%;
    background-color: rgb(66, 84, 84);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px;
    gap: 10px;
    padding-right: 70px;
    padding-left: 20px;
    border: 1px solid;
    font-size: 30px;
}

.tools{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 50px;
}

.delete-all-button{
    display: none;
    cursor: pointer;
}

.download-all-button{
    display: none;
    cursor: pointer;
}

.searchIcon {
    background-color: rgb(66, 84, 84);
    border: none;
    font-size: 30px;
}

.searchInput {
    height: 38px;
    width: 350px;
    font-size: 17px;
    padding-left: 15px;
    border-radius: 5px;
    display: none;
    outline: none;
    background-color: rgb(66, 84, 84);
    border: 1px solid black;
    color: #e1d0d0;
    position: absolute;
    top: 100px;
    right: 300px;
}
.sort-icon{
    background-color: rgb(66, 84, 84);
    border: none;
    font-size: 30px;

}
.filter-icon{
    background-color: rgb(66, 84, 84);
    border: none;
    font-size: 40px;
}

.dropdown-menu{
    margin: 5px!important;
    background-color: rgb(239, 227, 227);

}
.dropdown-menu >* {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0px;
}

.dropdown-divider{
    background-color: grey;
    height: 2px;
    width: 100%;
}

.header-main-checkbox{
    background-color: rgb(139, 185, 185);
    height: 30px;
    width: 100%;
}