/*****************  SideBar Settings   ***********************************/

.setting-open-button {

    color: white;
    font-size: 35px;
    cursor: pointer;
}

.setting-close-button {
    height: 5%;
    font-size: 25px;
    padding-top: 10px;
    color: #6C6767;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.setting-close-icon {
    cursor: pointer;
}

.sidenav {
    height: 104.5%;
    width: 0;
    position: relative;
    z-index: 1;
    top: -10px;
    left: -38px;
    background-color: #000000;
    overflow: hidden;
    transition: 0.5s;
}

.side-nav-open {
    width: 93%;
    border: 1px solid #6C6767;
    margin: 0px 0px 26px 15px;
    border-radius: 8px;
    background-color: #1E1E1F;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.arrow {
    font-size: 25px;
}

.card {
    border-radius: 0%;
}

.card-body {
    display: flex;
    color: #bb9898;
    gap: 15px;
    background-color: #1E1E1F;
    padding: 0px;
    margin: 0px;
    border: none;
}

.setting-list {
    height: 95%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.filter-arrow-down {
    display: none;
}

.zoom-arrow-down {
    display: none;
}

.timer-arrow-down {
    display: none;
}

.header-inner {
    margin: 0px;
    width: 100%;
}

.settings-options {
    padding: 0px 0px 20px 0px;
    background-color: #1E1E1F;
    width: 100%;
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid #6C6767;
}

.options-heading {
    font-size: 18px;
    display: flex;
    gap: 15px;
    width: 100%;
    padding-left: 15px;
    color: #BEC7CC;
}
.all-settings-inside-buttons {
    width: 30%;
    color: #6C6767;
    display: flex;
    align-items: center;
    gap: 18px;
}

.all-filter-items {
    width: 290px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.filter_value {
    width: 50px;
}

.none {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.zoom-card{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.zoom-label{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30%;
}

.reset {
    font-size: 15px;
    font-weight: 500;
    width: 60px;
    padding: 4px 8px 4px 8px;
    color: #6C6767;
    background-color: #302F2F;
    border: 1px solid #727273;
    border-radius: 5px;
}

.collapse-btn {
    height: 54px;
    font-size: 20px;
    display: flex;
    border: none;
    justify-content: space-around;
    align-items: center;
    /* border-top: 1px solid #6C6767; */
    /* border-bottom: 1px solid #6C6767; */
    background-color: #1E1E1F;
}

.btn:hover {
    background-color: #1E1E1F;
}

.timer-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 25px 0px 25px;
}

.camera-click-timer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

/* .timer-active{
    background-color: aliceblue;
} */